<header class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <img src="images/aibaniz-logo.png" alt="Aibaniz" class="logo-image" />
      </a>
    </div>

    <button class="burger" id="burger">☰</button>
    <div class="nav-overlay" id="navOverlay"></div>

    <nav class="nav">
      <ul>
        <li>
          <a href="apostille.html"> Апостиль </a>
        </li>

        <li>
          <a href="legalization.html"> Консульская легализация </a>
        </li>

        <li>
          <a href="nostrification.html"> Нострификация </a>
        </li>

        <li>
          <a href="translations.html"> Переводы </a>
        </li>

        <li>
          <a href="contacts.html"> Контакты </a>
        </li>
      </ul>
    </nav>

    <a href="tel:+77015637388" class="btn-consultation"> Связаться с нами </a>
  </div>
</header>
