<header class="header">
  <div class="container">
    <div class="logo">
      <a href="index.html">
        <span class="logo-mark"> GDC </span>

        <span class="logo-text"> Aibaniz TRANSLATIONS </span>
      </a>
    </div>

    <nav class="nav">
      <ul>
        <li>
          <a href="apostille.html"> Апостиль </a>
        </li>

        <li>
          <a href="legalization.html"> Легализация </a>
        </li>

        <li>
          <a href="nostrification.html"> Нострификация </a>
        </li>

        <li>
          <a href="translations.html"> Переводы </a>
        </li>

        <li>
          <a href="contacts.html"> Контакты </a>
        </li>
      </ul>
    </nav>

    <a
      href="https://wa.me/77015637388"
      class="btn-consultation"
      target="_blank"
    >
      Связаться с нами
    </a>
  </div>
</header>
